.modal-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 60vh;
    width: 49.5vw;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background: lightblue; */

}


.form{
    width: 50%;
    position: relative;
    height: 50px;
  overflow: hidden;
}

.form input{
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
}

.form label{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.form label::after{
content: "";
position: absolute;
left: 0px;
bottom: -1px;
height: 100%;
width: 100%;
border-bottom: 3px solid lightblue;
transform: translateX(-100%);
transition: transform 0.3s ease;
}
.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus+.label-name .content-name, 
.form input:valid + .label-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: rgb(91, 150, 168);
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after{
    transform: translateX(0%);
    


}


.submitbtn{
    position: absolute;
    top: 80%;
    transform: translate(1250%);
}