

/* Slideshow container */
.slideshow-container {
 width: 60vw;
 height: 62.25vh;
 
  position: absolute;
  margin: auto;
  top: 140%;
    left: 50%;
    transform: translate(-50%,-20%);
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -25%;
  z-index: -1;
  height: 1vw;
  width: 10vw;
  padding: 14px;
  margin-top: -22px;
  
  
  
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  /* background-color: rgba(0,0,0,0.8); */
 
}
.prevbutton{
  height: 3vh;
  width: 25vw;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 83%;
  width: auto;
  padding: 14px;
  margin-top: -22px;
  color: white;
  z-index: -1;
 
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  
 
}
.nextbutton{
  height: 3vh;
  width: 25vw;

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  animation: moves 1s ease-in infinite;
  cursor: url('Paimon_cursors/Help_Select.cur'),auto;
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
  cursor: url('Paimon_cursors/Help_Select.cur'),auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  
}


.genshinbanner1{
  height: 31.25vw;
  width: 80vw;
  border: 1px solid rgba(29, 28, 28, 0.699);
  border-radius: 1.5%;
}