*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    font-family: 'Brawler', serif;
    font-family: 'Heebo', sans-serif;
    
}


a{
    text-decoration: none;
    color:white;
}


.header-img{
    min-height: 2vh;
    min-width: 2vh;
}

.bigtext{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-30%);
    font-size: 4vw;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    color: white;
    text-shadow: 0.5vw 0.5vw 0.5vw   black;
}

.btn{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-20%);
    background-color: var(--background-color);
    
    padding: .5em 1em;
    border:none;
   border-radius: 5%;
    outline: none;
    height: 6vh;
    width: 10vw;
    font-size: 1.5vw;


    --background-color:#fdfdff;
    --border-size: 2px;
    --accent-color:#0AF;
  
}

.btn.btn-border-pop::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   z-index: -1;
   border-radius: 5%;
   background-color: var(--accent-color);
   transition: transform 200ms;
  transform: scaleX(0);
  transform-origin: left;
  }

  .btn.btn-border-pop::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   z-index: -1;
   background-color: var(--accent-color);
   transition: transform 200ms;
  transform: scaleX(0);
  transform-origin: left;
  }

  .btn.btn-border-pop:hover::before,
.btn.btn-border-pop:focus::before{
    transform: scaleX(1);
  
}

.btn.btn-border-pop:hover,
.btn.btn-border-pop:focus{
  color: white;
}


.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text{
    color:rgb(175, 175, 175);
    font-family:  'Heebo', sans-serif; ;
    font-size: 2rem;
}

.slider{
    background: rgb(204, 204, 218);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);

}


.hide{
    background: black;
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}

.landing{
    height: 100vh;
    
     background: url('4kbg.jpg');
     background-size: cover;
    /* padding: 0rem 5rem; */
 }
 
  
 nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     min-height: 5vw;
     min-width: 5vw;
     width: 100%;
     height: 15vh;
     color: white;
     background: black;
     filter: opacity(85%);
 }
 .nav-link{
     display: flex;
     list-style: none;
 }
 
 .nav-link li{
     padding-left: 10vw;
     padding-right: 5vw;
     font-size: 1.5vw;
 
 }
#header-img{
     padding-left: 10vh;
     height: 15vh;
     width: 20vw;
 }